* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.navbar-links a:hover {
    text-decoration: underline;
}

.navbar-menu-toggle {
    display: none;
    font-size: 20px;
    cursor: pointer;
}

/* Side Navbar */
.side-navbar {
    background-color: rgb(10, 2, 38);
    width: 60%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 0.5s;
}

.close-btn {
    text-align: right;
    font-size: 20px;
    cursor: pointer;
}

.side-navbar-links {
    margin-top: 40px;
}

.side-navbar-link {
    margin-bottom: 25px;
}

.side-navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.side-navbar-links a:hover {
    text-decoration: underline;
}

/* Header Section */
.header {
    display: flex;
    justify-content:center;
    padding:50px;
    gap: 50px;

}
.header-button{
    padding :10px 10px 10px 10px ;
    margin-top: 10px;
    background-color: rgb(57, 19, 93);
    color: white;
    cursor: pointer;

}
.service{
    padding:20px;

}
.service-container1{
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.service-container2{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 10px;
}
.service-container2 div{
    background-color: #f2f4f7;
    border-radius: 5px;
    padding:10px;

}
.new-arrival{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.new-arrival-container{
    position:relative;
    flex-basis:20%;
}
.new-arrival button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color:#1d232c;
    position:absolute;
    top:50%;
    left:18%;
    border-radius: 5px;

}
.news{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 20px;

}
.news input{
    padding:11px;
    width:80vw;
    margin-bottom: 10px;
    border:solid black 3px;
}
.news-button{
    margin-top: 10px;
    color: rgb(220, 204, 204);
    background-color: rgb(46, 4, 54);
    border-radius: 3px;

    padding: 10px   ;
}
.footer{
    margin-top:20px;
    padding:40px;
    background-color: #1d232C;
    color: #f2f4f7;
}
.product-section{
    margin-top: 20px;

}
.product-search{
    width:80%;
    border:solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}
.product-search input{
    border: none;
    background-color: transparent;
    width:100%;

}
.product-search input:focus{
    outline:none;
}
.products{
    padding: 20px;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.products-box p{
    text-align: center;
    flex-basis: 20%;
}
.products-box img{
    border-radius: 10px;
}
/* Responsive */
@media screen and (max-width: 600px) {
    .navbar-links {
        display: none;
    }

    .navbar-menu-toggle {
        display: block;
    }
    .header-image{
        display:none
    }
    .service-container1{
        display: none;
    }
    .service-container2{
        flex-direction: column;
    }

    
}
